{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "pilgrim-sdk-react-native": "./src/"
        },
        "cwd": "babelrc"
      }
    ]
  ]
}
