version: 2
defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:12.2 
jobs:
  deploy:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$npm_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publish package
          command: npm publish
workflows:
  version: 2
  main:
    jobs:
      - deploy
          # filters:
#             branches:
#               ignore: /.*/
#             tags:
#               only: /^v\d+\.\d+\.\d+$/